/* Exercises project style sheet */

.big_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.headline {
    background-color: rgb(8, 0, 102);
    color: white;
}

.main {
    text-align: center;
}

a:link,
a:visited {
    color: blue;
}

a:hover {
    color: gold;
}

h1,
h2,
h3,
p {
    font-family: "Trebuchet MS", "sans-serif";
}

p {
    font-size: 16px;
}